<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.advisory.model.business.QuestionSet" alias="QuestionSet"/>
		<typeAlias type="com.advisory.model.business.Question" alias="Question"/>
		<typeAlias type="com.advisory.model.business.QuestionOption" alias="QuestionOption"/>
		<typeAlias type="com.advisory.model.business.QuestionChart" alias="QuestionChart"/>
		<typeAlias type="com.advisory.model.business.HistoricalIndexRawData" alias="HistoricalIndexRawData"/>
		<typeAlias type="com.advisory.model.business.HistoricalIndexData" alias="HistoricalIndexData"/>
		<typeAlias type="com.advisory.model.business.HistoricalIndexCoefficientData" alias="HistoricalIndexCoefficientData"/>
		<typeAlias type="com.advisory.model.business.HistoricalIndexCovarianceData" alias="HistoricalIndexCovarianceData"/>
		<typeAlias type="com.advisory.model.helper.HistoricalIndexCoefficientProcessingUnit" alias="HistoricalIndexCoefficientProcessingUnit"/>
		<typeAlias type="com.advisory.model.helper.HistoricalIndexCovarianceProcessingUnit" alias="HistoricalIndexCovarianceProcessingUnit"/>
	</typeAliases>
    <mappers>
        <mapper resource="com/advisory/config/mybatis/mapper/QuestionMapper.xml" />
        <mapper resource="com/advisory/config/mybatis/mapper/HistoricalDataMapper.xml" />
    </mappers>
</configuration>